# Version control files
.git
.gitignore
.gitattributes

# Dependencies - these are installed inside the container during the build
/vendor/
/node_modules/

# Environment files. These should be managed via secrets in your hosting provider.
.env
.env.example
.env.testing

# Laravel Storage
# We ignore the contents of these directories, but not the directories themselves.
# The .gitignore files are kept to ensure the directories are created if they don't exist.
/storage/*.key
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/*.log
/storage/app/
!/storage/app/.gitignore
!/storage/app/public/.gitignore
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

# Publicly linked storage and Vite's hot reload file
/public/storage
/public/hot

# Local development and IDE settings
.idea/
.vscode/
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log

# Testing files
tests/
phpunit.xml

# Docker files (no need to copy them into the image)
Dockerfile
.dockerignore
docker-compose.yml
